{% extends 'main/base.html' %}

{% block banner %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <p style="color: green; align-content: center">{{ message }}</p>
            {% else %}
                <p style="color: red; align-content: center">{{ message }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
{% include 'home/home_banner.html' %}
{% endblock banner %}

{% block content %}
    {% include 'home/home.html' %}
{% endblock content %}

{% block scriptContent %}
    
    <script>
       $( function() {
      var availableTags = [];

      $.ajax({
        method: "GET",
        url: "/search-list",
        success: function (response){
            console.log(response);
            startAutoComplete(response);
        }
    });

    function startAutoComplete(availableTags){
        $( "#search-pro" ).autocomplete({
            source: availableTags
          });
    }
    } );
       </script>
    
{% endblock scriptContent %}