{% extends 'main/base.html' %}


{% block banner %}
    {% include 'cart_order/cart_banner.html' %}
{% endblock banner %}

{% block content %}    
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <p style="color: green; align-content: center">{{ message }}</p>
                <a class="btn" href="{% url 'track_orders' %}">Track Order</a>
            {% endif %}
        {% endfor %}
    {% else %}
        {% include 'cart_order/cart_content.html' %}
    {% endif %}
{% endblock content %}

{% block scriptContent %}
    <h1>cart scripts</h1>
{% endblock scriptContent %}