{% load discount_calc %}
{% load item_sub_total %}
{% load order_total %}

{% if cart_obj and cart_obj.added_items.all %}
    <div class="small-container cart-page">
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            {% for item in cart_obj.added_items.all %}
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="{{ item.product.cover_image.url }}">
                        <div>
                            <p>{{ item.product.title }}</p>
                            <small>Rs. {% calc_discount item.product.price item.product.discount %}</small>
                            
                            <br>
                            <a href="{% url 'remove_from_cart' item.id %}">Remove</a>
                        </div>
                    </div>
                </td>
                <td>{{ item.quantity }}</td>
                <td>Rs. {% calc_subTotal  item.quantity item.product.price item.product.discount %}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="total-price">
            <table>
{#                <tr>#}
{#                    <td>Subtotal</td>#}
{#                    <td>$200.00</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>Tax</td>#}
{#                    <td>$200.00</td>#}
{#                </tr>#}
                <tr>
                    <td>Total</td>
                    <td>Rs. {% calc_Total cart_obj %}</td>
                </tr>
                <tr>
                    <form method="post" action="{% url 'conform_order' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <td>
                        </td>
                        <input type="hidden" name="total" value="{% calc_Total cart_obj %}">
                        <input type="hidden" name="paymentMethod" value="COD" required>
                        <td><button type="submit" class="btn">Conform order</button></td>    
                    </form>
                </tr>
                <tr>
{#                    <form method="post" action="{% url 'conform_order' %}" enctype="multipart/form-data">#}
{#                        {% csrf_token %}#}
                    <td>
                            {% csrf_token %}
                        <input type="hidden" name="ptotal" value="{% calc_Total cart_obj %}">
                        <input type="hidden" name="pPaymentMethod" value="PAY_NOW" required>
                    </td>
                        <td><div id="paypal-button-container"></div></td>    
{#                    </form>#}
{#                        <td>#}
{#                        </td>#}
{#                        <td><div id="paypal-button-container"></div></td>#}
                </tr>
            </table>
        </div>
    </div>
    
{% else %}
    <div class="empty-cart">
        <h2>You Cart is Empty!.............</h2>
        <a href="{% url 'list_products' %}"  class="btn">Feed Your Cart</a>
    </div>
{% endif %}