{% extends 'main/base.html' %}
{% load get_status %}
{% load item_price %}
{% load payment_status %}


{% block content %}
    
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <p style="color: green; align-content: center">{{ message }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
    
    Order ID :- ODR000{{ order_obj.id }}
    <br>
    Ordered Date :- {{ order_obj.created_at | date:'d M Y' }}
    <br>
    Total Price :- {{ order_obj.total_price }}
    <br>
    Payment Status :- {% get_payment_status order_obj.pay_status %}
    <br>
    Order Status :- {% get_order_status order_obj.order_stage %}
    <br>


    <div class="small-container cart-page">
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Sub Total</th>
            </tr>
            {% for item in order_obj.added_items.all %}
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="{{ item.product.cover_image.url }}" alt="Product image">
                        <div>
                            <br>
                            <p>{{ item.product.title }}</p>
                            <small>Rs. {% calc_price item.quantity item.price %}</small>
                        </div>
                    </div>
                </td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="total-price">
            <table>
                <tr>
                    <td>Total</td>
                    <td>{{ order_obj.total_price }}</td>
                </tr>
                <tr>
                    <td></td>
                    {% if order_obj.order_stage > 0 and order_obj.order_stage != 4 %}
                    <form method="post" action="{% url 'cancel_order' order_obj.id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="total" value="cancel">
                        <td><button type="submit" class="btn">Cancel order</button></td>
                    </form>
                    {% elif order_obj.order_stage == -1 %}
                        <td><button type="submit" disabled class="btn">Order Canceled</button></td>
                    {% else %}
                        <td><button type="submit" disabled class="btn">Cancelation Requested</button></td>
                    {% endif %}
                </tr>
            </table>
        </div>
    </div>


{% endblock content %}