{% extends 'main/base.html' %}

{% block content %}
    {% load static %}
    {% if user.is_authenticated %}
        {% include 'accounts/user_profile.html' %}
    {% else %}
        {% include 'accounts/signin_signup.html' %}
    {% endif %}
{% endblock content %}

{% block scriptContent %}
    <script src="{%  static 'js/toggle_form.js' %}"></script>
    <script src="{%  static 'js/profile_scripts.js' %}"></script>
    <script>
    {% if register %}
            register()
    {% else %}
            login()
    {% endif %}
    

       $( function() {
      var availableTags = [];

      $.ajax({
        method: "GET",
        url: "/search-list",
        success: function (response){
            console.log(response);
            startAutoComplete(response);
        }
    });

    function startAutoComplete(availableTags){
        $( "#search-pro" ).autocomplete({
            source: availableTags
          });
    }
    } );
       </script>
    
{% endblock scriptContent %}