{% extends 'main/base.html' %}
{% load static %}
{% load discount_calc %}

{% block banner %}
{% include 'products/product_banner.html' %}
{% endblock banner %}

{% block content %}
    <div class="small-container">
        <div class="row row-2">
            <h2>All Products</h2>
            <select>
                <option>Default Sort</option>
                <option>Sort By Price</option>
                <option>Sort By Popularity</option>
                <option>Sort By Rating</option>
                <option>Sort By Sale</option>
            </select>
        </div>
{#            {% calc_discount_price p.product_price p.discount_rate %}#}
        <div class="row">
            {% for product in all_products %}
            <div class="col-4">
                <a href="{% url 'product_details' product.id %}"><img style="height: 300px;" src="{{product.cover_image.url}}"></a>
                <h3>{{ product.title }}</h3>
                <p>{{ product.description }}</p>
                <del>Rs. {{ product.price }}</del>
                <h3>Rs. {% calc_discount product.price product.discount %}</h3>
            </div>
                {% endfor %}
        </div>
        <div class="page-btn">
            {% if all_products.has_previous %}
                <a href="?page={{ all_products.previous_page_number }}"><span><<<</span></a>
            {% endif %}
            {% for i in all_products.paginator.page_range %}
                <a href="?page={{ i }}"><span>{{ i }}</span></a>
            {% endfor %}
            {% if all_products.has_next %}
                <a href="?page={{ all_products.next_page_number }}"><span>>>></span></a>
            {% endif %}
        </div>
    </div>
{% endblock content %}